<nav class="application-nav">

  {{#link-to 'index' class='application-nav__logo'}}ember-cli-scroll-to{{/link-to}}

  <ul class="application-nav__links">
    <li>{{#link-to 'a' (scroll-to)}}Route A{{/link-to}}</li>
    <li>{{#link-to 'a' (scroll-to '#some-id' 100)}}Route A #some-id{{/link-to}}</li>
    <li>{{#link-to 'a' (scroll-to '#another-id' 800)}}Route A #another-id{{/link-to}}</li>
    <li>{{#link-to 'a' (scroll-to '#the-last-one')}}Route A #the-last-one{{/link-to}}</li>
    <li>{{#link-to 'b'}}Route B{{/link-to}}</li>
    <li>{{#link-to 'b' (scroll-to '#heading-1' 500)}}Route B #heading-1{{/link-to}}</li>
    <li>{{#link-to 'b' (scroll-to '#heading-2' 500)}}Route B #heading-2{{/link-to}}</li>
    <li>{{#link-to 'b' (scroll-to '#heading-3' 500)}}Route B #heading-3{{/link-to}}</li>
    <li>{{#link-to 'c'}}Route C{{/link-to}}</li>
    <li>{{#link-to 'd'}}Route D{{/link-to}}</li>
  </ul>
</nav>

<div class="application-outlet">
  {{outlet}}
</div>
